* {
    font-family: "Inter", sans-serif;
}

body{
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.book-notify {
    width: auto;
    max-width: 100%;
    border: 2px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left:15px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-right:20px
}
.book-image {
    width: 80px;
    height: 120px;
    background: linear-gradient(135deg, #1e64d1, #1851A8);
    border-radius: 4px;
}


.notify-info {
    font-size: 25px;
    font-weight: 500;
    flex: 1;
    margin-left: 25px;

}

/*
.book-title {
    font-size: 20px;
    font-weight: bold;
}

.book-category {
    font-size: 16px;
    margin-top: 5px;
}


.borrow-btn {
    background: linear-gradient(135deg, #1e64d1, #1851A8);
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.time-return{
    margin-right: 30px;
}*/
