.book-card {
    width: 900px;
    max-width: 100%;
    border: 2px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.time-return{
    margin-right: 30px;
}
.book-image {
    width: 80px;
    height: 80px;
    background-color: #3FB6FF;
    border-radius: 4px;
}


.book-info {
    flex: 1;
    margin-left: 20px;
}

.book-title {
    font-size: 20px;
    font-weight: bold;
}

.book-category {
    font-size: 16px;
    margin-top: 5px;
}


.borrow-btn {
    background-color: #009fe3;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.has-rent{
    margin-left: 70px;
    padding-top: 8px;
}
.borrow-btn:hover {
    background-color: #007bb6;
}
.borrow-btn:disabled {
   background-color: #00618F;
}
.borrow-wrapper {
    padding: 20px;
    font-family: Arial;
    box-sizing: border-box;
}

.search-panel {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-panel input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.search-panel button {
    padding: 10px 16px;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    border: none;
    background: #eee;
    border-radius: 6px;
    cursor: pointer;
}

.tab.active {
    background: #007bff;
    color: white;
}

.tab-content {
    display: none;
}